create_repo             = true
create_storage          = true
create_service_endpoint = true
create_variables_group  = true
upload_tf_files         = true

azuredevops_organisation = "<my-org>"
azuredevops_token        = "<my-ado-peronal access token>"
project_name             = "<my-project>"
project_features = {
  "repositories" = "enabled"
  "pipelines"    = "enabled"
}

repo_name             = "<my-repo>"
service_endpoint_name = "<my-azure-svc-connection>"
tenantid              = "<00000000-0000-0000-0000-000000000000>"
subscription_id       = "<00000000-0000-0000-0000-000000000000>"
subscription_name     = "<My Azure Subscription Name>"

storage_rg_name        = "rg-terraform-state-tf"
storage_account_name   = "stterraformstate"
storage_container_name = "tfstate"
terraform_blob_key     = "terraform.tfstate"